  /*
    Challenge: 
    Design the search field according to the spec
    */

.main {
    margin-top: 100px;
}

.logo-img {
    display: block;
    width: 300px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

.search-input {
    display: block;
    width: 400px;
    /* margin-top: 20px;   Or this to set a space between them */
    margin-right: auto;
    margin-left: auto;
    line-height: 24px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
  

}